.card .read-more:hover{
  font-size: 14px;
}

.card:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transform:scale(1.03);
}

.card{
transition:.3s;
}

.card-img-top {
  height: 15vw;
  object-fit: scale-down;
}